#root {
    display:block;
    margin:auto;
}

#svgContainer{
    position: absolute;
    padding-top:40px;
    width:100%;
    height:100%;
}

#nodes {
    position: relative;
    top: 100px;
}

.arrow {
    width: 30px;
    height: 5px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: auto;
    background: black;
    z-index: -2;
}

.rightArrow {
    transform: rotateY(0deg) rotate(45deg);
}

.leftArrow {
    transform: rotateY(0deg) rotate(-45deg);
}
.lineParent{
    position: absolute;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.circle {
    border: 2px solid black;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden !important;
    background-color:white;
}

.circle h3 {
    margin-top: 24px;
    overflow: hidden !important;
}

.overlapCircle {
    width: 37.5px;
    overflow: hidden !important;
    height: 37.5px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: white;
}

.overlapCircle h3 {
    margin-top: 5px;
    width: 37.5px;
    height: 37.5px;
    overflow: hidden;
}

.childNodes {
    display: inline-grid;
    position: absolute;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}